<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <title>Ed Builder</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EdBuilder</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Sign In</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <h2>EdBuilder is about learning.</h2>
                <p>It's a tool intended to eliminate some of the busy work associated with curriculum design. When you use EdBuilder, all you'll need is your courses, your units, your lessons, and your big juicy brain.</p>
                <br />
                <p>It's also a programming project by me, Kyle Pratuch. I'm learning to code, and this is my shot at building something useful from the ground up. There's a lot I'd like to add down the road, including Common Core standards support. Nevertheless, I hope what you find here comes in handy.</p>
            </div>
        </div>
    </body>
</html>
