<html>
    <head>
        <title>EdBuilder</title>
    </head>
    <body>
        <h2>Welcome to your dashboard, {{name}}!</h2>

    <a href="/show_edit_user/{{user.getId}}">Edit your profile</a>

    <a href="/">Logout</a>
    </body>
</html>
