<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <title>EdBuilder</title>
    </head>
    <body>
        <form action="edit_course/{{course.getId}}" method="post">
            <input name="_method" type="hidden" value="patch" />

            <label name="new_title">New Title</label>
            <input name="new_title" type="text" value={{course.getTitle}} required />

            <label name="new_subject">New Subject</label>
            <input name="new_subject" type="text" value={{course.getSubject}} required />

            <label name="new_description">New Description</label>
            <input name="new_description" type="text" value={{course.getDescription}} required />

            <button type="submit">Update</button>
        </form>
    </body>
</html>
