
<html>
    <head>
        <title>EdBuilder</title>
    </head>
    <body>
        <p>Log in to view your account:</p>

        <form action="/login" method="get">
            <label name = "username">Username</label>
            <input name = "username" type = "text" />

            <label name = "password">Password</label>
            <input name = "password" type = "text" />

            <button type = "submit">Log In</button>
        </form>

        <a href = "/sign_up">Don't have an account? Sign up here!</a>
    </body>
</html>
