<html>
    <head>
        <title>EdBuilder</title>
    </head>
    <body>
        <p>Sign up to create a new account:</p>

        <form action="/user_sign_up" method="post">
            <label name="username">Username</label>
            <input name="username" type="text" />

            <label name="email">Email</label>
            <input name="email" type="text" />

            <label name="password">Password</label>
            <input name="password" type="text" />

            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>
