<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <title>Thanks!</title>
    </head>
    <body>
        <div class="container">
            <p>Thanks for signing up with EdBuilder! Please sign in to continue.</p>
            <a href="/">Sign In</a>
        </div>    
    </body>
</html>
