<html>
    <head>
        <title>Thanks!</title>
    </head>
    <body>
        <p>Thanks for signing up with EdBuilder! Please sign in to continue.</p>
        <a href="/">Sign In</a>
    </body>
</html>
